{{paraList}}
<script>
 $(function () {
                $("#dismiss").on('click', function() {
                    $('#myModal').modal('hide');
                });
            });
</script>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       
        <h5 class="modal-title" id="myModalLabel">{{test.sample}}</h5>
      </div>
      <div class="modal-body">
      <form name="myform" ng-submit="practiceSentence(praticeSen)" novalidate>
      
         
          <textarea type="text" name="name" placeholder="Short sentences" ng-model="praticeSen" ng-required="true">
          </textarea>
        
        
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click = "return()">Return</button>
        <button type="submit" class="btn btn-default" id="dismiss" ng-disabled="myform.$invalid">Save changes</button>
      </div>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- test modal --> 
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" data-target="#home">Sentence</a></li>
    <li><a data-toggle="tab" data-target="#menu1">Paragraph</a></li>

   
  </ul>

  <div class="tab-content">
       <br>
       <h4 ng-if="gone">Your practice is on progress {{completion}}%</h4>
       <div ng-controller = "userSave">
       <!-- ng-if="showSave" -->
      <button  class="btn btn-primary btn-sm" ng-click = "saveWriting(paraList)">
          Save
      </button> 
      </div>
      
       <h4 ng-if="madeId">CONGRATULATION YOU MADE IT :))</h4>
  <div class="progress" style="height: 15px;">
  <div class="progress-bar" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:{{completion}}%">
  </div>

</div>
    <div id="home" class="tab-pane fade in active"> <!--start of tab 1-->
  

     <div ng-repeat = "para in paraList">
     <div ng-repeat = "sentence in para">
 <div class="panel panel-default" ng-class= "{'panel panel-danger' : $first}">
    <div ng-hide="sentence.hideEnglish"  data-toggle="collapse" data-target="#{{sentence.key}}" class="panel-heading">
        <div ng-if="sentence.practice" class="  glyphicon glyphicon-bookmark"></div>
        {{sentence.sample}}
    </div>

      <div id="{{sentence.key}}" class="panel-collapse collapse">
          <div class="panel-body">{{sentence.sample}}</div>
          <div class="panel-body" ng-if="sentence.practice">{{sentence.practice}}</div>
      </div><!--id="{{sentence.$id}}"-->
    
        
    <div class="panel-body">

    <span ng-repeat = "tag in sentence.tag | orderBy: 'type'">

      <a data-target="#{{sentence.key}}{{tag.tagkey}}"  data-toggle="collapse" ng-click= "tagDetail(tag)" ng-class = "tagClass(tag)" >{{tag.name}} </a>
      
    </span>

      <div ng-repeat = "tag in sentence.tag | orderBy: 'type'" >
        <ul class="list-group" id="{{sentence.key}}{{tag.tagkey}}" class="collapse" >
          <li class="list-group-item" ng-if= "tag.show">{{tag.english}}<br> 
              <a ng-href="#/tag/{{tag.tagkey}}"><button class = "btn btn-default">Related<span class="glyphicon glyphicon-chevron-right"></span></button></a>
          </li>

        </ul>
      </div>
      </div><!--panel body-->

       <div class="panel-footer">
      <button type="button" class="btn btn-primary btn-sm" ng-click = "data(sentence)" data-toggle="modal" data-target="#myModal">
          Practice
      </button> 
      </div>
    
</div><!--panel panel-default-->
</div>

  </div>
    </div><!--finish of tab 1-->
    <div id="menu1" class="tab-pane fade">
      <br>
      <div ng-repeat="para in paraList">

         <div class="panel panel-default">
          <div class="panel-body">
                 <b>Your parapraph: </b><span ng-repeat = "sentence in para">{{sentence.practice}}. </span>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
                 <span ng-repeat = "sentence in para">{{sentence.sample}}. </span>
          </div>
        </div>
 

      </div>
    </div>
   
  
  </div>
</div>



