

<button id="next" ng-click="lessData()" ng-disabled="lessDisable"  >less </button>
<button id="next" ng-click="moreData()" ng-disabled="moreDisable"  >more </button>

<div ng-repeat = "writing in listOfWriting">

<div class="panel panel-default">
  <div class="panel-heading">{{writing.title}}</div>
   
  <div class="panel-body">

  <button class="btn btn-danger" type="button">
      Grammar <span class="badge">{{writing.grammar}}</span>
    </button>
    <button class="btn btn-warning" type="button">
      Structure <span class="badge">{{writing.structure}}</span>
    </button>
    <button class="btn btn-info" type="button">
      Specification <span class="badge">{{writing.spec}}</span>
    </button>

  		<span ng-repeat = "tag in writing.tag | orderBy: 'type'" >
			<ul class="list-group" id="{{tag.tagkey}}{{writing.key}}" class="collapse" >
				<li class="list-group-item" ng-show= "tag.show">{{tag.english}}</li>
			</ul>
  		</span>

  </div><!--panel body-->
  <div class="panel-footer">
     <a ng-href="#/display_sentence/{{writing.articleKey}}"><button class = "btn btn-primary">Read<span class="glyphicon glyphicon-chevron-right"></span></button></a>
  
  </div>
</div><!--panel panel-default-->

</div>



</div>



