

<button id="next" ng-click="lessData()" ng-disabled="lessDisable" >less </button>
<button id="next" ng-click="moreData()" ng-disabled="moreDisable" >more </button>



<div ng-repeat = "article in listOfArticle">

<div class="panel panel-default">
  <div class="panel-heading"><a ng-href="{{article.link}}">{{article.title}}</a></div>
   
     
  
  <div class="panel-body">

  	<button class="btn btn-danger" type="button">
      Grammar <span class="badge">{{article.grammar}}</span>
    </button>
    <button class="btn btn-warning" type="button">
      Structure <span class="badge">{{article.structure}}</span>
    </button>
    <button class="btn btn-info" type="button">
      Specification <span class="badge">{{article.spec}}</span>
    </button>

  		<span ng-repeat = "tag in article.tag | orderBy: 'type'" >
			<ul class="list-group" id="{{tag.tagkey}}{{article.key}}" class="collapse" >
				<li class="list-group-item" ng-show= "tag.show">{{tag.english}}</li>
			</ul>
  		</span>

  </div><!--panel body-->

  <div class="panel-footer">
      <a ng-href="#/display_sentence_article/{{article.key}}"  target="_self"><button class = "btn btn-primary">Read <span class="glyphicon glyphicon-chevron-right"></span></button></a>      
  </div>

</div><!--panel panel-default-->

</div>




