
{{tagOfSentence}}
{{listOfSentence.articleId}}

 <div class="panel panel-default">
    <div  class="panel-heading">{{listOfSentence.sample}}</div>
    <div class="panel-body">{{listOfSentence.para}}</div>     
 </div>


<section class="card register">
        <form name = "editform" ng-submit = "editContent(listOfSentence.sample,listOfSentence.para)" novalidate>  
            <textarea type="text" name = "sample" placeholder="Edit here" ng-model = "listOfSentence.sample" ng-required = "true"></textarea>
            <textarea type="text" name = "para" placeholder="Edit here" ng-model = "listOfSentence.para" ng-required = "true"></textarea>
            <button type="submit" class="btn" ng-disabled = "editform.$invalid"> Update </button>
        </form><!--edit your to-do-->
</section>

<br>

<section class="card register">
  <form name="myform"
    ng-submit="dataTag(tag,listOfSentence.articleId)"
    novalidate>

    <fieldset>
    
      <textarea  type="text" name="name" placeholder="Name of the tag"
      ng-model="tag.name" ng-required="true">
      </textarea>
      <p class="error validationerror"
      ng-show="myform.name.$invalid && myform.name.$touched">
      Short tag</p>

      <textarea type="text" name="english" placeholder="English definition"
      ng-model="tag.english">
      </textarea>
      <p class="error validationerror"
      ng-show="myform.english.$invalid && myform.english.$touched">
      English description</p>

      <div class="formgroup">
      <span class="label">Order by:</span>
        <select ng-model="tag.type">
          <option value="1">Grammar</option>
          <option value="2">Structure</option>
          <option value="3">Specification</option>
        </select>
    </div>


    </fieldset>

<button type="submit"
    ng-disabled="myform.$invalid">Submit</button>
  </form>
</section>



<div class="list-group" id = "list-group" > 
  <a class="list-group-item" ng-repeat = "tag in listOfTag | filter:{name : tag.name, english :tag.english} ">

  {{tag.name}}

  <button type="button" class="btn btn-info"  id="right" ng-click = "detailTag(tag)"><span class="glyphicon glyphicon-align-justify"></span> </button>

  <button type="button" class="btn btn-success"  id = "right1" ng-click = "updateTag(tag,listOfSentence.articleId)"><span class="glyphicon glyphicon-ok"></span></button>
  <br>
  <span ng-show= "tag.show">{{tag.english}}</span>
  </a>
</div>

        
       
  
