

<section class="card register">
  <form name="myform"
    ng-submit="dataArticle(sentence)"
    novalidate>

    <div class="textintro">
      <h1>Data</h1>
      
    </div>

    <fieldset>
       <legend>Initial data:</legend>
      <textarea  type="text" name="firstname" placeholder="Sentences"
      ng-model="sentence.sample" ng-required="true">
      </textarea>
      <p class="error validationerror"
      ng-show="myform.firstname.$invalid && myform.firstname.$touched">
      Must be a long sentences</p>

      <textarea type="text" name="lastname" placeholder="Long paragraph"
      ng-model="sentence.para">
      </textarea>
      <p class="error validationerror"
      ng-show="myform.lastname.$invalid && myform.lastname.$touched">
      Must be a full paragraph of the sentence</p>


      <input type="text" name="lastname" placeholder="link of the article"
      ng-model="sentence.link" ng-required="true">
      <p class="error validationerror"
      ng-show="myform.lastname.$invalid && myform.lastname.$touched">
      Must be the link to the article</p>

    </fieldset>

    <button ng-href="#/input_tag"  type="submit" class="btn"
    ng-disabled="myform.$invalid">Submit</button>
    <p ng-bind-html="para"></p>ht

  </form>
</section>



  

